.app-section {
  margin: 2rem 0;
}

.app-input,
.app-output {
  min-height: 3.5em !important;
  background-color: #ffffff !important;
  display: block;
  width: 100%;
  outline: none;
  overflow: hidden;
  resize: none;
  line-height: 1.25em;
  -webkit-text-fill-color: #000000;
}

.app-file-button {
  display: block;
  padding: 0;
  margin: 1rem auto;
  max-width: 500px;
}

.app-distribution {
  columns: 5rem;

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.app-tab-link {
  margin-right: 1rem;
  padding: 0;

  &.active {
    color: #000000;
    text-decoration: none;
    cursor: default;
  }
}

.app-sub {
  span {
    display: inline-block;
    margin-top: 0.75em;
  }
}

.app-sub-input {
  border: none;
  border-radius: 0;
  border-bottom: 0.1em solid #000000;
  outline: none;
  text-align: center;

  &.app-sft-input {
    width: 1.75em;
  }

  &.app-aff-input {
    width: 5em;
  }
}
