@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.app-section {
  margin: 2rem 0;
}

.app-input,
.app-output {
  min-height: 3.5em !important;
  background-color: #ffffff !important;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  line-height: 1.25em;
}

.app-file-button {
  display: block;
  padding: 0;
  margin: 1rem auto;
  max-width: 500px;
  user-select: auto;
}

.app-distribution {
  columns: 5rem;

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.app-distribution-heading {
  margin-bottom: 0.75rem;
}

.app-action {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    max-width: 100%;
    flex-basis: 50%;
    flex-grow: 1;

    &:not(:last-child) {
      @include media-breakpoint-down(lg) {
        margin-bottom: 2rem;
      }
    }
  }
}

.app-tab-link {
  padding: 0;
  font-weight: 700;
  vertical-align: baseline;
  user-select: auto;

  &.active {
    color: $body-color;
    text-decoration: none;
    cursor: default;
  }
}

.app-sub {
  margin-top: 0.25rem;

  span {
    display: inline-block;
    margin-top: 0.75rem;
  }
}

.app-sub-input {
  border: none;
  border-radius: 0;
  border-bottom: 0.1em solid #000000;
  outline: none;
  text-align: center;

  &.app-sft-input {
    width: 1.92em;
  }

  &.app-sft-direct-input {
    width: 3.5em;
  }

  &.app-aff-input {
    width: 5em;
  }
}

.app-cipher-map {
  display: flex;
  flex-direction: row;

  span {
    display: block;
  }
}

.app-cipher-map-alphabet {
  letter-spacing: 0.25em;
}

.app-cipher-map-switch {
  padding: 0;
  vertical-align: baseline;
  user-select: auto;
}
